
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans serif;
}


.container{
    width: 100vw;
    height:100vh;
    background: linear-gradient( to bottom right , #dff421 ,#f3e4a2);
    display:flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 60vw;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    padding: 22px 30px;
    margin-inline: 20px;

}

.form-box header h1{
    text-align: center;
    color: #5851e3;
    font-weight: 700;
    font-size: 50px;
}

.form-box form{
    margin-block: 15px;
}

input{
    width:100%;
    padding: 18px 18px;
    border: none;
    outline:none;
    border-radius: 5px;
    background-color: #a3a3a331;
    font-size: 18px;
    margin-block: 14px;
}

input[type="text"]{
    display:none;
}

a{
    text-decoration: none;
    color: #767676;
    font-size: 14px;
}

input[type="button"]{
    margin-block: 24px;
    background-color: #5851e3;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

input[type="button"]:hover{
    background-color: #10449a;
}


.links{
    display:flex;
    justify-content: center;
    align-items: center;
}

.links a img{
    width: 40px;
    margin-inline: 5px;
}

.signup{
    text-align: center;
    margin-block: 10px;
}

.signup a{
    color:#5851e3;
    font-size: 20px;
    font-weight: 700;
}

.signup a:hover{
    color:#10449a;
    text-decoration: underline 2px;
    text-underline-offset: 4px;
}



/* To achieve responsiveness */

@media screen and (max-width: 700px){
    .form-box{
        width: 100%;
    }
}